body {
    font-family: sans-serif;
    margin: 0;
    padding: 8px;
}

header {
    padding-top: 20%;
    background: url("img/header.jpg");
    height: 30px;
    border: solid #ff66c0 0;
    width: 100vw;
}

header ul {
    list-style: none;
    padding: 5px;
    margin: auto;
    background: #ff0000;
    text-align: center;
}

header ul li {
    display: inline-block;
}

header ul li:hover {
    background-color: #8b0000;
}

header ul li a {
    display: inline;
    list-style: none;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 5px;
}

#main {
    height: 70vh;
}

.sidepanel {
    float: left;
    width: 25%;
    height: 100%;
    background-color: #6fd6ff;
}

.sidepanel ul {
    padding: 0;
    list-style-type: none;
}

.sidepanel ul li {
    padding: 5px;
    padding-left: 15px;
}

.sidepanel ul li ::before {
    content: " # ";
}

.sidepanel ul li:hover {
    background-color: #68a8ed;
}

.sidepanel ul li a{
    text-decoration: none;
}

.content {
    padding-left: 30px;
    padding-top: 15px;
    float: left;
    width: 70%;
}

.content section dl {
    padding: 10px;
    margin: 0;
}

.content section:first-of-type {
    height: 225px;
    background: url("img/225.png") no-repeat;
    padding-left: 230px;
}

.content section:first-of-type dl {
    padding-top: 145px;
}

.content dt {
    color: #0000ff;
    font-weight: bold;
}

.content section:first-of-type dt {
    color: #ff0000;
}

.content dd {
    margin-left: 0;
}



