* {
    margin: 0;
    padding: 0;
}


body {
    font: 10px tahoma, sans-serif;
    margin: 0;
}

img {
    vertical-align: top;
}

#page {
    background: url("img/main-bg.gif") no-repeat;
    width: 770px;
    margin: 0 auto;
}

header {
    background: url('img/header.jpg') no-repeat;
    padding-top: 126px;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: url("img/header-list-bg.gif") no-repeat 50% 0;
    text-align: center;
    font-size: 12px;
    line-height: 19px;
    font-weight: bold;
    color: #ffffff;
}

header ul li {
    display: inline-block;
    padding: 6px 5px;
}

header ul a:hover {
    color: #ffcccc;
}

header ul a {
    color: #ffffff;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

#main {
    background: url("img/sidepanel.gif") repeat-y;
}

#main::after {
    content: '';
    display: block;
    clear: both;
}

.sidepanel {
    float: left;
    width: 200px;
    background: url("img/main-bg.gif") no-repeat;
}

.sidepanel ul {
    padding: 18px 0 0 6px;
    margin: 0;
    list-style: none;
}

.sidepanel li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    display: block;
    background: url("img/sidepanel-option.gif") no-repeat;
    padding-left: 34px;
}

.sidepanel li a:hover {
    background: url("img/sidepanel-option-selected.gif") no-repeat;
}

.content {
    padding-top: 18px;
    float: right;
    width: 537px;
}

h1 {
    color: #003399;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 14px;
}

h3 {
    color: #cc3333;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px;
}

.first-section p {
    font-size: 10px;
    margin-bottom: 9px;
}

.main-section p {
    font-size: 10px;
    margin-bottom: 14px;
}

.first-section {
    position: relative;
    background: url("img/main-section-bg.jpg") 100% 0;
}

.first-section .section-content {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 314px;
}

.main-section .section-content {
    padding: 2px;
}

section {
    margin-bottom: 18px;
}