body {
    font: 10px/13px tahoma, sans-serif;
    margin: 0;
}

img {
    vertical-align: top;
}

#main {
    background: url("img/main-bg.gif") no-repeat;
    width: 770px;
    margin: 0 auto
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: url("img/header-list-bg.gif") no-repeat 50% 0;
    text-align: center;
    font: 12px/19px tahoma, sans-serif;
}

header ul li {
    display: inline-block;
    vertical-align: top;
    padding: 6px 5px;
}

header ul li a:hover {
    color: #ffcccc;
}

header ul li a {
    display: block;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.wrap {
    background: url("img/sidepanel.gif") repeat-y;

}

.sidepanel {
    float: left;
    width: 200px;
    background: url("img/main-bg.gif") no-repeat;
}

.sidepanel ul {
    padding: 18px 0 0 6px;
    margin: 0;
    list-style: none;
}

.sidepanel li {
    vertical-align: top;
    background: url("img/sidepanel-option.gif") no-repeat;
    padding-left: 34px;
}

.sidepanel li:hover {
    background: url("img/sidepanel-option-selected.gif") no-repeat;
}

.sidepanel li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
}

.content {
    padding-left: 33px;
    padding-top: 18px;
    float: left;
    width: 537px;
}

.first-section {
    margin: 0;
    position: relative;
    background: url("img/main-section-bg.jpg") 100% 0;
}

.first-section .section-content {
    padding-left: 9px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 314px;
}

.content h1 {
    color: #003399;
}

.regular-content {
    padding: 2px;
}

.first-section h3 {
    color: #cc3333;
}



